 .dropdown {
     position: relative;
     display: inline-block;
}
 .dropdownList {
     list-style-type: none;
     margin: 0;
     padding: 0;
     top:45px;
     right:0px;
     background-color: var(--color-white-90);
     font-weight:bold;
     position: absolute;
     border-radius: 10%;

     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
}
 .dropdownLineA {
     color:  var(--color-black-10);
     text-decoration: none;
}

 .dropdownLineHover:hover{
    color: var(--color-purple-30);
 }
 .dropdownLine {
     padding: 8px 16px;
     border-bottom: 1px solid var(--color-white-90);
     border-radius: 10%;
}
 .dropdownLineLC li:last-child {
     border-bottom: none;
}
 .dropdownLineH li:hover {
     background-color: var(--color-white-90);
}