.anima-flip {
  transform: rotate(0deg);
  transition: transform .4s ease-in;
}

.anima-flip:focus-within {
  transform: rotate(90deg);
  transition: transform .4s ease-in;
}

.highlight{
  outline: 3px solid var(--color-purple-30);
  color: var(--color-purple-30);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}